{% comment %} {% extends 'base.html' %}

{% load static %}

{% block ratio %}  {% endcomment %}
{% load static %}
<span id="experience">
    <div class="skills-cont">
        <div class="proj_header">
            <hr>
            <h5>PORTFOLIO.</h5>
            
        </div>
        <div class="fk_tab">
            <div class="fk_bar">
                <span class="btn" id="btn-1"></span>
                <span class="btn" id="btn-2"></span>
                <span class="btn" id="btn-3"></span>
            </div>
            <div class="skills">
                <div class="progress-bar-container">
                    <h3>90%</h3>
                    <h2>HTML</h2>
                    <div class="progress-bar">
                        <span class="percentage html"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>80%</h3>
                    <h2>CSS</h2>
                    <div class="progress-bar">
                        <span class="percentage css"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>60%</h3>
                    <h2>JS</h2>
                    <div class="progress-bar">
                        <span class="percentage js"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>75%</h3>
                    <h2>Python</h2>
                    <div class="progress-bar">
                        <span class="percentage python"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>60%</h3>
                    <h2>React</h2>
                    <div class="progress-bar">
                        <span class="percentage react"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>65%</h3>
                    <h2>Django</h2>
                    <div class="progress-bar">
                        <span class="percentage django"></span>
                    </div>
                </div>

                <div class="progress-bar-container">
                    <h3>45%</h3>
                    <h2>C</h2>
                    <div class="progress-bar">
                        <span class="percentage c"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="proj">
            <div class="proj_header">
                <hr>
                <h5>PROJECT.</h5>
                
            </div>
            <h1 class="proj_h1">Some things I've worked on</h1>
            <div class="proj-grid-cont">
                <div class="proj_cont" id="proj1">
                    <img class="proj_img" src="" alt=""/>
                    <span class="proj_txt">It's a communcation website were people can form a room to chat with each other on particular subject.</span>
                    <div class="proj_cont_foot">
                        <button class="code-btn"><a  href=""/><img src="{% static 'image/coding.svg' %}" alt="code"></a></button>
                        <button class="preview-btn"><a class="pre-btn" href=""/>Preview</a></button>
                    </div>
                </div>
                <div class="proj_cont" id="proj2">
                    <img class="proj_img" src="" alt=""/>
                    <span class="proj_txt"></span>
                    <div class="proj_cont_foot">
                        <button class="code-btn"><a  href=""/><img src="{% static 'image/coding.svg' %}" alt="code"></a></button>
                        <button class="preview-btn"><a class="pre-btn" href=""/>Preview</a></button>
                    </div>
                </div>
                <div class="proj_cont" id="proj3">
                    <img class="proj_img" src="" alt=""/>
                    <span class="proj_txt"></span>
                    <div class="proj_cont_foot">
                        <button class="code-btn"><a  href=""/><img src="{% static 'image/coding.svg' %}" alt="code"></a></button>
                        <button class="preview-btn"><a class="pre-btn" href=""/>Preview</a></button>
                    </div>
                </div>
                <div class="proj_cont" id="proj4">
                    <img class="proj_img" src="" alt=""/>
                    <span class="proj_txt"></span>
                    <div class="proj_cont_foot">
                        <button class="code-btn"><a  href=""/><img src="{% static 'image/coding.svg' %}" alt="code"></a></button>
                        <button class="preview-btn"><a class="pre-btn" href=""/>Preview</a></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</span>
{% comment %} {% endblock ratio %}  {% endcomment %}