{% comment %} {% extends 'base.html' %}
{% load static %}

{% block ratio %} {% endcomment %}
{% load static %}
<span id="home">
    <div class="herosection">
        <div class ="base">
            <div class="cont">
                <h1 class="typed">Hi,My</h1>
                <h1 class="typed">Name is SOHAM PANCHAL.</h1>
                <h2 class="typed"> I am Django Developer.</h2>
                <h3 class="typed"> Avaliable for Hiring.</h3>
            </div>
            <div class="prof_img">  
                <img class="desk_img" src="{% static 'image/coder.gif'%}" alt="Profile Image"/>
            </div>
        </div>
    </div>
</span>
{% comment %} {% endblock ratio %} {% endcomment %}
