@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");



.info {
    overflow-y: hidden;
    position: relative;
    height: 100vh;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    padding-bottom: 0;
    
    &.blue {
        background-color: #428aa6;
    }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  right: 0;
  margin: auto;
  border:1px solid rgb(202, 199, 199);
  transition: transform .4s ease;
  cursor: pointer;
  padding:5vh;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #cont-3, #item-2:checked ~ .cards #cont-1, #item-3:checked ~ .cards #cont-2{
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #cont-2, #item-2:checked ~ .cards #cont-3, #item-3:checked ~ .cards #cont-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #cont-1, #item-2:checked ~ .cards #cont-2, #item-3:checked ~ .cards #cont-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img{
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
.interest{
  display:grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  height: 100%;
    
}
